@font-face {
    font-family: 'Museo Slab';
    src: url('/fonts/Museo_Slab_700.otf') format('opentype'); 
    font-weight: 700;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('/fonts/MuseoSans_500.otf') format('opentype'); 
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('/fonts/MuseoSans-300.otf') format('opentype'); 
    font-weight: 300;
}
@font-face {
    font-family: 'Museo Sans 700';
    src: url('/fonts/MuseoSans_700.otf') format('opentype'); 
    font-weight: 700;
}

body {
    margin: 0;
}

h1 {
    font-size: 60px;
    color: #002B7F;
    text-align: center;
    font-family: 'Museo Slab', sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px !important;
        word-wrap: break-word;
    }
    h2 {
      word-wrap: break-word;
      margin-left: 2%;
      margin-right: 2%;
    }
}
p {
    color: #4B4F54;
    font-family: 'Museo Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.text-banner {
    background-image: url('../../public/Component_LightBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

@media (min-width: 640px) and (max-width: 1024px) {
    .text-banner {
        height: 200px;
    }
}

@media screen and (max-width: 640px) {
    .text-banner {
        height: 400px;
    }
    .text-banner p {
        padding-top: 25% !important;
    }
}

.text-banner p {
    padding-top: 5%;
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 5%;
    margin-right: 5%;   
}

h2 {
    font-size: 36px;
    text-align: center;
    color: #002B7F;
    opacity: 1;
    font-family: 'Museo Slab', sans-serif;
    margin-top: 7%;
}

h3 {
    font-size: 28px;
    text-align: center;
    color: #002B7F;
    opacity: 1;
    font-family: 'Museo Sans';
    font-weight: 700;
    margin: 5%;
}

.image-container {
    height: 986px;
    position: relative;
    background-image: url('../../public/TSASD_2023_GolfClassic_091923_v2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 640px) {
    .image-container {
        height: 450px;
    }
}

.address p {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

.address-container p {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}

.address-container p:nth-child(2) {
   font-family: 'Museo Sans 300';
   font-weight: 300;
}

.address-container p:nth-child(3) {
    font-family: 'Museo Sans 300';
    font-weight: 300;
 }

 .register-button {
    background-color: #002B7F;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;
    color: #FFFFFF;
    width: 266px;
    height: 64px;
    font-size: 20px;
    font-family: 'Museo Sans 700', sans-serif;
    margin: 0 auto; /* Center horizontally */
  }
  .button-container {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .address-container-2 p {
    font-size: 16px !important;
    color: #FFFFFF;
  }
  .address-container-2 {
    background-image: url(../../public/Rectangle_Address.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .payment-container {
    background-image: url(../../public/Component_Orange.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-container {
    background-image: url(../../public/Component_Green.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .row-container p {
    color: #002B7F;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
    font-family: 'Museo Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 5%;
    padding-right: 5%;

  }
  @media (min-width: 640px){
    .row-container{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .payment-container, .contact-container {
        width: 50%; /* Adjust the width to leave some spacing between the containers */
      }
  }
  @media (min-width: 640px) and (max-width: 1024px) {
    .payment-container, .contact-container {
        height: 45vh;
  }
}
  @media (min-width: 1200px) {
    .payment-container, .contact-container {
        height: 60vh;
  }
}

  @media (max-width: 640px) {
    .row-container {
      display: block; /* Stack containers on top of each other */
    }
    .payment-container {
      width: 100%; /* Full width on mobile */
      height: 45vh;
    }
    .contact-container {
      height: 55vh;
      width: 100%;
    }
  }
  .payment-container p:first-child {
    font-size: 30px;
    font-family: 'Museo Slab', sans-serif;
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .contact-container p:first-child {
    font-size: 30px;
    font-family: 'Museo Slab', sans-serif;
    padding-top: 15%;
    padding-bottom: 5%;
  }