@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    text-align: center;
    position: relative;
    margin-bottom: 4px;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */

  }

header img {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}
  
.image-container {
    flex: 1; /* Distribute available space equally among image containers */
}
  
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.logo-container img {
  position: relative;
}
  
.image-group img {
  z-index: 3;
  height: 26.99px !important;
  top: 10%;
}

.image-rectangle-1 img {
  height: 60px !important;
}

.logo-container img {
  z-index: 4;
  height: auto !important;
}

.image-container-mobile img {
  position: relative;
}
.header-image {
  background-image: url('../../public/Header-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  height: 200px;
}

@media screen and (max-width: 640px) {
  .header-image {
    transform: scale(1.5);
    margin-top: 37px;
    width: 315px;
    background-position: 47% 50%;
    height: 150px;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .header-image {
    transform: scale(1);
  }
}

@media (min-width: 1024x) {
  .header-image {
    transform: scale(0.5);
  }
}